@import url('https://fonts.googleapis.com/css2?family=Antonio&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Lobster+Two&family=Pacifico&display=swap');

:root {
  --primary-white: #fff;
  --primary-peach: #f5b183;
  --primary-dark: rgba(255,255,255,0);
  background-image: url(./assets/Background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
}

body {
  font-family: "Antonio";
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/*ALL PAGES SET-UP*/
.header-wrapper, .portfolioWrapper, .aboutMeWrapper, .contactWrapper {
  position: relative;
  z-index: 2;
  background: url(./assets/Background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(54, 53, 53, 0.428);
  font-family: "Antonio";
  padding: 3vw 3vh;
  padding-top: 10%;
}



/*NAVBAR*/

#logo {
  font-family: 'Lobster Two', cursive;
  font-weight: bold;
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.1875rem solid var(--primary-dark);

  /* Typography */
  font-size: 40px;
  color: #4aaaa5;
}

/* media query for nav*/
@media only screen and (max-width: 767px) {
  .navbar-header {
    background-color: #4aaaa5;
  }
}

.navbar {
  transition: all 0.4s;
  background-image: url(./assets/Background.jpg) no-repeat;
}

.navbar .nav-link {
  color: lightslategray;
  font-size: 22px;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: black;
  text-decoration: none;
}

.navbar .navbar-brand {
  color: #f8f9fa;
  font-size: 24px;
}

/* Change navbar styling on scroll */
.navbar.active {
  background: #f8f9fa;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
  color: #555;
  text-decoration: none;
}

.navbar.active .navbar-brand, .navbar-brand:hover {
  color: #555;
}

.navbar-toggler {
  color:black;
}

.navbar-toggler-right {
  background-color:black;
}

/* Change navbar styling on small viewports */
@media (max-width: 900px) {
  .navbar .navbar-brand, .navbar .nav-link {
      color: #555;
  }
} 

@media (max-width: 746px) {
  .navbar {
      height: 10%;
  }
} 

@media (max-width: 500px) {
  .navbar {
      height: 8%;
  }

  #logo {
    font-size: 20px;
  }
} 

/*nav links*/
nav a.nav-link {
  font-weight: 500;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:hover, #logo:hover {
  border-top: 0.1875rem solid var(--primary-peach);
}

/*END OF NAVBAR*/



/*HEADER*/

.header-wrapper {
  height: 100vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
  height: 100vh;
}

.main-info h1 {
  text-transform: uppercase;
  font-size: 9rem;
  padding-top: 5rem;
}

.main-info h2 {
  font-size: 3.7rem;
}

.contactMeDiv {
  margin-top: 16vh;
}

.connectphoto {
  width: 5vw;
}

/*typed text*/
.typed-text2 {
  font-size: 3rem;
}

@media(max-width:768px) {
  .main-info h1 {
    font-size: 5rem !important;
  }
  .main-info h2 {
    font-size: 2.7rem !important;
  }
  .typed-text2 {
    font-size: 2rem !important;
  }
}

/*contact button*/
.btn-main-offer {
  border: 1px solid var(--primary-peach);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  margin-top: 2rem;
  color: var(--primary-peach);
  background-color: var(--primary-white);
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-peach);
  color: var(--primary-white);
  transition: .2s ease-in-out;
}

/*END OF HEADER PAGE*/



/*ABOUT ME PAGE*/

.profPhoto {
  width: 500px;
  margin-left: 4vw;
  border-radius: 30%;
}

.aboutMeText {
  width: 500px;
  font-size: 25px;
  margin-right: 4vw;
}

@media(max-width:1353px) {
  .profPhoto {
    width: 90%;
  }
  .aboutMeText {
    font-size: 23px;
  }
}

@media(max-width:1353px) {
  .aboutMeText {
    font-size: 18px;
  }
}

@media(max-width:768px) {
  .aboutMeText {
    font-size: 14px;
  }
}

@media(max-width:533px) {
  .aboutMeWrapper {
    padding-top: 10vh;
  }
  .aboutMeText {
    font-size: 10px;
  }
}

/* END OF ABOUT ME PAGE */



/* PORTFOLIO PAGE */

/* Change blockport styling on small viewports */
@media (max-width: 991.98px) {
  .blockPort {
    margin-top: 14%;
  }
} 
@media (max-width: 655px) {
  .blockPort {
    margin-top: 20%;
  }
} 
@media (max-width: 355px) {
  .blockPort {
    margin-top: 30%;
  }
} 

.retailPic {
  align-content: center;
}

.port-image {
  display: block;
  border: 2px solid black;
  width: 94%;
  margin: 2%;
}

.portcaption {
  width: 94%;
  margin: 2%
}

.port-image-description {
  text-align: center;
}

/* END PORTFOLIO PAGE */



/*ABOUT ME PAGE*/
.aboutMeWrapper {
  height: 100vh;
}
/*END ABOUT ME PAGE*/



/*CONTACT PAGE*/
.contactWrapper {
  height: 100vh;
}
/* END CONTACT PAGE */